<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1> 
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
<p>-------------------------</p>
<p>
  OFFICE: 212-555-8888
</p>
<p>
  FAX: 212-555-9999
</p>
